/* Global Elements Set-up */

h1{
	text-align: center;
	padding:10px 0;
	margin:0px;
}

ul{
	list-style:none;
	padding:0;
	text-decoration: none;
}

li{

	text-align: center;
	font-size: small;
}

img{
	margin: auto 10%;
    width: 80%;
}

p{
	width:100%;
}
body{

}
a{
	text-decoration: none;
}
/* Header */

.main-header{
	background-color:#F5F5F5;
}

/* Avatar */


.profile-image img{
	margin: auto 25%;
    width: 50%;
}

.profile-image p{
	text-align: center;
	width:260px;
	margin:auto;
	margin-top: 20px;
	padding-bottom: 40px;
}

/* Portfolio */


.header{
	margin:50px 0px;
}

.col h1 {
	font-size:large;
}

.col p{
	width:290px;
	margin:auto;
	text-align: center;
	margin-bottom: 50px;
}

/* Contact */

.wrapper{
	background-color:#F5F5F5;
	padding:30px 0;
	margin:30px auto;
}

.wrapper h1{
	margin:auto;
	text-align: center;
}

.wrapper p{
	width:290px;
	text-align: center;
	margin: 20px auto;
}

/* Footer */

.footer-wrapper2 {
	display:none;
}

.footer-wrapper{
	border-top: solid lightgrey 1px;
	width: 90%;
    margin: auto;	
}



.footer-wrapper li{
	display:inline-block;
	margin-left: 40px;
}

.link{
	margin-right: 40px;
	float:right;
}




@media (min-width:768px) {

/* Global Elements Set-up */

ul{
	list-style:none;
	margin:auto;
	padding:0;
	display:flex;
	justify-content: center;
}

li{
	width:90px;
	padding: 0 0px 0 0px;
	text-align: center;
	font-size: small;
	
}

img{
	width:768px;
}

p{
	width:768px;
}

/* Avatar */

.profile-image{
	padding:25px 0px;
}

.profile-image img{
	width:25%;
	float:right;
	margin-right:70px;
}
.profile-image p{
	text-align: left;
	margin:20px 80px;
	width: 60%;
}

/* Portfolio */

.col{
	width:50%;
	float:left;

}

.col img {
	width:90%;
	margin:auto 5%;
}

/* Contact */

.wrapper{
	width:768px;
	display:inline;

}

.wrapper h1{
	width:670px;
}

.wrapper p{
	width:395px;
}

/* Footer */

.footer-wrapper{
	display:none;
}

.footer-wrapper2 {
	width:730px;
	display:inline-block;
	border-top: solid lightgrey 1px;
	margin-left: 20px;
}

.footer-wrapper2 ul{
	display:inline-flex;
	float: left;
	margin:0px 0px;
}

.name-line{
	padding-left: 20px;
}
.nav-line{
	padding-left:360px;
}


}


@media (min-width: 1024px) {

/* Global Elements Set-up */

ul{
	float: right;
	width:300px;
	padding-top: 40px;
}

li{
	padding: 0;
	margin:0;
}

p{
	margin:0;
	padding:0;
}

/* Header */

.profile-header{
	position:absolute;
	top:15px;
	left:80px;
}

.container{
	height:80px;
}

.container ul{
	padding-bottom: 10px;
	margin-right: 60px;
}

/* Avatar */

.profile-image{
	height: 250px;
	padding-bottom:0px;
}

.profile-image img{
	width:23%;
	margin: 0 110px;
}

.profile-image p {
	width:50%;
	font-size: 23px;
}

/* Portfolio */

.section{
	background-color: white;
}

.header{
	width:100%;
}

.col{
	width:33%;

}

.first{
	float:left;
}

.third{
	float:right;
}

/* Contact */

.wrapper{
	background-color:#F5F5F5 ;
}

/* Footer */

.footer-wrapper{
	display:none;
}

}
